*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100;
    
}
.textlogo {
    color: rgb(68, 174, 232);
    letter-spacing: 10px;
}
.logo{
    display: flex;
   align-items: center;
    gap: 30px;
}
nav{
    display: flex;
    gap: 60px;
    text-decoration: none;
    font-size: 25px;
    
}
.link{
    text-decoration: none;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.input{
    width: 40%;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    

}
